:root {
    --bs-body-color: #dce8f5 !important;
    --bs-body-bg: #26292d !important;
    --bs-border-color: rgb(65, 65, 65) !important;
}

input::placeholder,
textarea::placeholder {
    color: #bbbbbb !important;
}

.list-group-item {
    background: #2a2d31;
    border: none;
    color: #eee;
}

.bg-secondary {
    background: #3a3f47 !important;
}

.btn-outline-light {
    border-color: #eee;
    color: #eee;
}

.btn-outline-light:hover {
    background: #eee;
    color: #333;
}

.btn-outline-dim {
    border-color: #878787;
    color: #eee;
}

.btn-outline-dim:hover {
    background: #1e2124;
}

.text-muted {
    color: #cccccc !important;
}

blockquote {
    border-radius: 0.25rem;
    background: hsla(218, 8%, 21%, 0.9);
    border-left: dimgray 0.2rem solid;
    margin: 0 0 1rem;
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
}

blockquote p {
    margin-bottom: 0;
}

/* EasyMDE dark mode overrides */
.CodeMirror,
.editor-toolbar,
.editor-toolbar.fullscreen,
.editor-preview,
.editor-preview-side {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
    border-color: var(--bs-border-color) !important;
    caret-color: white !important;

}

.CodeMirror-cursor {
    border-left: 1px solid white !important;
}

.editor-toolbar button {
    color: #ccc !important;
}

.editor-toolbar button:hover, .editor-toolbar button.active {
    background-color: #2a2a2a !important;
    border-color: var(--bs-border-color) !important;
}

.editor-toolbar i.separator {
    border-left: 1px solid #555 !important;
}

.progress {
    background-color: #212529 !important;
    border-radius: 0.375rem;
}

.progress-bar {
    background-color: #0d6efd !important;
    color: #fff;
}

input[type="checkbox"]:checked {
    accent-color: #65fd0d !important;
}

a:link {
    color: #0d9dfd;
}

a:active {
    color: #1394eb;
}

a:visited {
    color: #9772ff;
}

a:visited:active {
    color: #8965eb;
}

blockquote.progress-goals {
    background: #202325;
    border-left: 4px solid #6c757d;
    padding: 1rem 1.25rem;
    border-radius: 0.35rem;
}
